@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 160, 255);
}

header {
    color: white;
    text-align: center;
    font-size: 1.3em;
}

section {
    padding: 15px;
    display: block;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    width: 500px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.616);
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 100%;
}

#res {
    margin-bottom: 10px;
}
