@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#msg {
    margin: 10px 0px 17px 0px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: auto;
    display: block;
    border: 2px solid;
}

section {
    display: flex;
}

#painel {
    flex-shrink: 1;
    width: 550px;
    height: 370px;
    background-color: white;
    margin: auto;
    display: block;
    align-content: center;
    border-radius: 25px;
    padding-bottom: 16px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.664);
}